

.bg-img {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/192b5ffa-2f02-447f-9733-cf632ea36623/d9jncuj-4a434340-bbd9-4783-8056-70c1c96b867e.png/v1/fill/w_1192,h_670,q_70,strp/world_of_hayao_miyazaki_wallpaper_by_willstyle_d9jncuj-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcLzE5MmI1ZmZhLTJmMDItNDQ3Zi05NzMzLWNmNjMyZWEzNjYyM1wvZDlqbmN1ai00YTQzNDM0MC1iYmQ5LTQ3ODMtODA1Ni03MGMxYzk2Yjg2N2UucG5nIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.wQnI4dg3ZgRhPHvnQidytn56ZjhderNXpm-75zBT4FQ');
}

.navbar {
    box-shadow: 1px 1px 10px 1px #000000;
}

.nav-item {
    font-size: 2rem;
    color: rgb(110, 82, 9);
}

.card-body {
    box-shadow: 1px 1px 10px 1px #000000;
    color: rgb(110, 82, 9);
}


.container {
    color: rgb(110, 82, 9);
}

.header {
    box-shadow: 1px 1px 10px 1px #000000;
}

.list-group-item {
    box-shadow: 1px 1px 10px 1px #383838;
}

.btn {
    background-color: rgb(110, 82, 9);
}